body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #333;
}
.resultat-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

#resultat {
    font-size: 16px;
    width: 80%;
    margin: 20px 0;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}

#copierBtn {
    background-color: #286aa7;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button-container{
    width: 90%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

button {
    background-color: #286aa7;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #215a88;
}


@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 10px;
    }
    #resultat {
        font-size: 14px;
        width: 100%;
        
    }
    .resultat-container {
        flex-direction: column;
        align-items: center;
        
    }
    
    #copierBtn {
        width: 90%;
        margin: 10px auto;
        
    }
    #resultat {
        width: 100%;
    }
    
    .button-container {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    
    button {
        width: 100%;
        margin-bottom: 10px;
    }
}


